<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head');%>

  <body class="home">
    <!-- menu -->
    <%- include('./partials/menu');%>

    <!-- hero start -->
    <%- include('./partials/hero.ejs');%>
    
    <!-- video -->
    <%-include('./partials/video');%>

    <!-- contact page -->
    <%- include('./partials/contact');%>

    <!-- <script src="js/slider.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script> -->
    <%- include('./partials/scripts');%>
  </body>
</html>
